body{
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

header{
    background-color: #333;
    color:#fff;
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    order: -1px;
}
.logo img{
    width: 200px;
    height: auto;
    
}
.tabla {
    border:2px solid black;
    border-collapse: collapse;
    width: 100%;
}

.tabla th, .tabla td {
    border: 1px solid black;
    padding: 8px;
}